@inject NavigationManager Navigation

<nav class="mt-10">
    <NavLink class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" ActiveClass="bg-gray-700" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
</nav>
